#!/usr/bin/env bash

function docker-clean {
    docker image prune
    docker rmi $(docker images -a | grep "^lively" | awk '{print $3}')
}

function docker-stop-all {
	docker stop $(docker ps -a -q)
	docker rm $(docker ps -a -q)
}

function docker-kill-all {
	docker kill $(docker ps -a -q)
	docker rm $(docker ps -a -q)
}